# Load data on a Database using a JDBC Spark Dataframe Source
Using this template you can create a Spark Dataframe based on a JDBC connection which reference data from a Database (in this case Postgres). To connect it with difference database you have to change the JDBC driver class.

## 1. Create a dataframe with a JDBC connection

In [1]:
pgDF = spark.read.format("jdbc")\
  .option("driver","org.postgresql.Driver")\
  .option("url","jdbc:postgresql://<host>:5432/testdb")\
  .option("dbtable","table_test")\
  .option("user","user").option("password","pass").load()

In [2]:
pgDF.show()

## 2. Create a new dataframe containing a sample rows

In [3]:
from pyspark.sql.functions import col
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [4]:
mySchema = StructType(
[
 StructField("id",IntegerType()),
 StructField("name",StringType()),
]
)

In [5]:
row1 = Row(2,"Eloisa")
row2 = Row(3,"Lionel")
list = [row1, row2]

In [6]:
df = spark.createDataFrame(list, mySchema)

In [7]:
df.show()

## 3. Write the sample rows on the database using the JDBC connection

In [8]:
props = {"driver":"org.postgresql.Driver",
         "user":"user",
         "password":"pass"}
newpath = "jdbc:postgresql://<host>:5432/testdb"
df.write.mode("append").jdbc(newpath, "table_test", properties=props)